.loadingSpinner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewContainer {
  overflow: hidden;
  height: 100%;
  position: relative;

  & iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
